openapi: 3.2.0
info:
  title: '1Fort API Documentation application (v2): applications API'
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: 'application (v2): applications'
  x-displayName: Applications
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/applications:
    parameters: []
    get:
      operationId: v2_applications_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - draft
          - in_progress
          - needs_review
          - submitted
          - archived
      - name: submission_type
        in: query
        description: submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Applications
  /v2/applications/{application_pk}/coverages:
    parameters:
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_applications_coverages_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
      - name: application__submission_type
        in: query
        description: application__submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Coverages
  /v2/applications/{application_pk}/supplementary-documents:
    parameters:
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_applications_supplementary-documents_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Supplementary documents
    post:
      operationId: v2_applications_supplementary-documents_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessApplicationSupplementaryDocument'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Create Supplementary document
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessApplicationSupplementaryDocument'
        required: true
  /v2/applications/{application_pk}/supplementary-documents/{id}:
    parameters:
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this application supplementary document.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_supplementary-documents_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Retrieve Supplementary document
    delete:
      operationId: v2_applications_supplementary-documents_delete
      description: ''
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Delete Supplementary document
  /v2/applications/{application_pk}/supplementary-documents/{id}/download:
    parameters:
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this application supplementary document.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_supplementary-documents_download
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Download
  /v2/applications/{id}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Retrieve Application
  /v2/applications/{id}/collect-signature:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_applications_collect_signature_for_application
      description: 'Collects and saves the signature for every coverage application under

        this application, skipping ones that are already signed.


        One request replaces the old per-coverage collect-signatures fanout;

        the response carries one result per coverage application. Returns 201

        if any signature was created, 200 if every coverage was already

        signed, 400 if all attempts failed.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Collect signature for application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/applications/{id}/download-1fort-application-pdf:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_download_1fort_application_pdf
      summary: Downloads the 1Fort application PDF.
      description: 'Priority order:

        1. Check for existing herald files with type="1fort_application"

        2. Check for existing CoverageApplicationPDF records

        3. Generate PDF in memory and return directly'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
  /v2/applications/{id}/download-insurance-proposal-pdf:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_download_insurance_proposal_pdf
      summary: Downloads the insurance proposal PDF (quote summary file from herald).
      description: Looks for herald files with type="quote_summary" and returns the first available one.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
  /v2/applications/{id}/get-signature:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_get_signature_for_application
      description: 'Retrieves the signature for the primary/first coverage application

        associated with this application, if it exists.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Get signature for application
  /v2/applications/{id}/pre-filled-forms:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_applications_add_prefilled_forms
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Add prefilled forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/applications/{id}/pre-filled-forms/{sessions_pk}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    - name: sessions_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_applications_get_prefilled_forms
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Get prefilled forms
  /v2/applications/{id}/quote-data:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_applications_get_quote_data
      description: 'Get quote data for a specific application.

        This endpoint returns the same quote data that brokers see,

        but filtered to only include quotes for this application.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Get quote data
  /v2/applications/{id}/submit:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_applications_submit
      summary: Submit all eligible coverage applications of this application.
      description: 'Manual-strategy underwriter emails are grouped per market, so a market

        selected on multiple coverage applications receives one combined email.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_applications_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - draft
          - in_progress
          - needs_review
          - submitted
          - archived
      - name: submission_type
        in: query
        description: submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: policy_type
        in: query
        description: policy_type
        required: false
        schema:
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
      - name: quote_version
        in: query
        description: quote_version
        required: false
        schema:
          type: string
          enum:
          - MANUAL
          - API
      - name: coverage_layer
        in: query
        description: coverage_layer
        required: false
        schema:
          type: string
          enum:
          - PRIMARY
          - EXCESS
      - name: email_type
        in: query
        description: email_type
        required: false
        schema:
          type: string
          enum:
          - default
          - conversation
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Applications
    post:
      operationId: v2_broker_applications_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Create Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications/{application_pk}/coverages:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_applications_coverages_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
      - name: application__submission_type
        in: query
        description: application__submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerCoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Coverages
  /v2/broker/{business_pk}/applications/{application_pk}/indications:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_applications_indications_list
      description: ''
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Indications
    post:
      operationId: v2_broker_applications_indications_create
      description: ''
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Create Indication
  /v2/broker/{business_pk}/applications/{application_pk}/supplementary-documents:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_applications_supplementary-documents_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: List Supplementary documents
    post:
      operationId: v2_broker_applications_supplementary-documents_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSupplementaryDocument'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Create Supplementary document
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationSupplementaryDocument'
        required: true
  /v2/broker/{business_pk}/applications/{application_pk}/supplementary-documents/{id}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this application supplementary document.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_applications_supplementary-documents_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Retrieve Supplementary document
    delete:
      operationId: v2_broker_applications_supplementary-documents_delete
      description: ''
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Delete Supplementary document
  /v2/broker/{business_pk}/applications/{application_pk}/supplementary-documents/{id}/download:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: application_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this application supplementary document.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_applications_supplementary-documents_download
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSupplementaryDocument'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Download
  /v2/broker/{business_pk}/applications/{id}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_applications_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Retrieve Application
    put:
      operationId: v2_broker_applications_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Update Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
    patch:
      operationId: v2_broker_applications_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Update Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
    delete:
      operationId: v2_broker_applications_delete
      description: ''
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Delete Application
  /v2/broker/{business_pk}/applications/{id}/approve:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_approve
      summary: 'Approve all coverage applications of this application held for broker

        review and submit them to carriers.'
      description: 'Manual-strategy underwriter emails are grouped per market, so a market

        shared by multiple approved coverage applications receives one

        combined email.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications/{id}/copy:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_copy_application
      summary: Copy Application
      description: '

        Create a copy of an existing application with optional field overrides.


        This endpoint allows you to create a copy of an existing application while optionally

        overriding specific fields in the new application. The copy will maintain all the

        original application''s data and relationships except for the fields that are explicitly

        overridden.


        When copying an excess application:

        - If new primary_quote_files are provided, they will be used for the new application

        - If no new files are provided, the original files will be copied

        - primary_quote_files are required if coverage_layer is set to ''excess''


        For ML (Management Liability) applications:

        - You can override sub_coverage_types to change the specific coverage types

        - If sub_coverage_types is not provided, the original sub coverage types will be copied

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCopyOverride'
        required: true
  /v2/broker/{business_pk}/applications/{id}/generate-questions:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_generate_questions
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Generate questions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications/{id}/pre-filled-forms:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_add_prefilled_forms
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Add prefilled forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications/{id}/pre-filled-forms/{sessions_pk}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    - name: sessions_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_applications_get_prefilled_forms
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Get prefilled forms
  /v2/broker/{business_pk}/applications/{id}/relevant-carriers:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_applications_get_relevant_carriers
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Get relevant carriers
  /v2/broker/{business_pk}/applications/{id}/start:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_start_application
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      summary: Start application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
  /v2/broker/{business_pk}/applications/{id}/submit:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_applications_submit
      summary: Submit all eligible coverage applications of this application.
      description: 'Manual-strategy underwriter emails are grouped per market, so a market

        selected on multiple coverage applications receives one combined email.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationV2'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): applications'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationV2'
        required: true
components:
  schemas:
    ApplicationPrefilledForm:
      required:
      - business
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        document_content:
          title: Document content
          type:
          - string
          - 'null'
        form:
          title: Form
          type: string
          readOnly: true
          format: uri
        application:
          title: Application
          type:
          - string
          - 'null'
          format: uuid
        created_by:
          title: Created by
          type:
          - integer
          - 'null'
          readOnly: true
        business:
          title: Business
          type: integer
    ApplicationSupplementaryDocument:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
        download_url:
          title: Download url
          type: string
          readOnly: true
    BrokerCoverageApplicationWithCompositeResponse:
      required:
      - coverage_type
      - application
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        coverage_type:
          $ref: '#/components/schemas/ProductLine'
        sub_coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        status:
          title: Status
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
        status_display:
          title: Status display
          type: string
          readOnly: true
          minLength: 1
        application:
          title: Application
          type: string
          format: uuid
        raw_question_values:
          title: Raw question values
          type:
          - object
          - 'null'
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        policy_type_display:
          title: Policy type display
          type: string
          readOnly: true
          minLength: 1
        additional_notes:
          title: Additional notes
          description: Additional notes for the coverage application
          type:
          - string
          - 'null'
        supplementary_documents:
          title: Supplementary documents
          type: string
          readOnly: true
        due_date:
          title: Due date
          type: string
          format: date
          readOnly: true
        effective_date:
          title: Effective date
          type: string
          format: date
          readOnly: true
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        coverage_layer_display:
          title: Coverage layer display
          type: string
          readOnly: true
          minLength: 1
        submission_type:
          title: Submission type
          type: string
          readOnly: true
          minLength: 1
        submission_type_display:
          title: Submission type display
          type: string
          readOnly: true
          minLength: 1
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarrierList'
          readOnly: true
        selected_markets:
          title: Selected markets
          type: string
          readOnly: true
        coverage_line_status:
          title: Coverage line status
          type: string
          readOnly: true
          minLength: 1
        quote_count:
          title: Quote count
          type: integer
          readOnly: true
          default: 0
        policy_count:
          title: Policy count
          type: integer
          readOnly: true
          default: 0
        source:
          title: Source
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
        accord_forms:
          type: array
          items:
            $ref: '#/components/schemas/CoverageAccordForm'
          readOnly: true
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    ExistingQuoteFile:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
        url:
          title: Url
          type: string
          readOnly: true
    CanonicalProductLineRef:
      required:
      - code
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        code:
          title: Code
          type: string
          maxLength: 150
          minLength: 1
        display_name:
          title: Display name
          type:
          - string
          - 'null'
          maxLength: 255
    BusinessApplicationSupplementaryDocument:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
        download_url:
          title: Download url
          type: string
          readOnly: true
    CoverageAccordForm:
      required:
      - accord_number
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        accord_number:
          title: Accord number
          description: ACORD form number (e.g., '1', '125')
          type: string
          maxLength: 50
          minLength: 1
        state:
          title: State
          description: US state code for state-specific forms (e.g., 'CA', 'FL')
          type:
          - string
          - 'null'
          maxLength: 10
        date_issued:
          title: Date issued
          description: Issue date extracted from form filename
          type:
          - string
          - 'null'
          format: date
        name:
          title: Name
          type: string
          readOnly: true
        acroform_pdf_url:
          title: Acroform pdf url
          type:
          - string
          - 'null'
          readOnly: true
        mapping_file_url:
          title: Mapping file url
          type:
          - string
          - 'null'
          readOnly: true
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    CoverageApplicationWithCompositeResponse:
      required:
      - coverage_type
      - application
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        coverage_type:
          $ref: '#/components/schemas/ProductLine'
        sub_coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        status:
          title: Status
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
        status_display:
          title: Status display
          type: string
          readOnly: true
          minLength: 1
        application:
          title: Application
          type: string
          format: uuid
        raw_question_values:
          title: Raw question values
          type:
          - object
          - 'null'
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        policy_type_display:
          title: Policy type display
          type: string
          readOnly: true
          minLength: 1
        additional_notes:
          title: Additional notes
          description: Additional notes for the coverage application
          type:
          - string
          - 'null'
        supplementary_documents:
          title: Supplementary documents
          type: string
          readOnly: true
        due_date:
          title: Due date
          type: string
          format: date
          readOnly: true
        effective_date:
          title: Effective date
          type: string
          format: date
          readOnly: true
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        coverage_layer_display:
          title: Coverage layer display
          type: string
          readOnly: true
          minLength: 1
        submission_type:
          title: Submission type
          type: string
          readOnly: true
          minLength: 1
        submission_type_display:
          title: Submission type display
          type: string
          readOnly: true
          minLength: 1
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarrierList'
          readOnly: true
        selected_markets:
          title: Selected markets
          type: string
          readOnly: true
        coverage_line_status:
          title: Coverage line status
          type: string
          readOnly: true
          minLength: 1
        quote_count:
          title: Quote count
          type: integer
          readOnly: true
          default: 0
        policy_count:
          title: Policy count
          type: integer
          readOnly: true
          default: 0
        source:
          title: Source
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
    SubProductLine:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        display_name:
          title: Display name
          description: Name used on the Frontend.
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
    ProductLine:
      required:
      - code
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        code:
          title: Code
          type: string
          maxLength: 150
          minLength: 1
        description:
          title: Description
          type:
          - string
          - 'null'
        name:
          title: Name
          type: string
          readOnly: true
        is_core:
          title: Is core
          type: boolean
          readOnly: true
        sub_product_lines:
          type: array
          items:
            $ref: '#/components/schemas/SubProductLine'
          readOnly: true
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        category:
          title: Category
          type:
          - string
          - 'null'
          enum:
          - Property
          - Casualty
          - Both
          - Property only
        canonical_product_line:
          $ref: '#/components/schemas/CanonicalProductLineRef'
    ApplicationV2:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        carriers_1fort_should_not_approach:
          type: array
          items:
            type: string
          uniqueItems: true
        brokerage_direct_placement_carriers:
          type: array
          items:
            type: string
          uniqueItems: true
        has_coverages:
          title: Has coverages
          type: string
          readOnly: true
        coverage_applications:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
          uniqueItems: true
        coverage_application_details:
          type: array
          items:
            $ref: '#/components/schemas/CoverageApplicationDetail'
          readOnly: true
        start_application:
          title: Start application
          type: boolean
        prefilled_forms:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPrefilledForm'
          readOnly: true
        status_display:
          title: Status display
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        is_active:
          title: Is active
          type: boolean
        effective_date:
          title: Effective date
          type:
          - string
          - 'null'
          format: date
        due_date:
          title: Due date
          type:
          - string
          - 'null'
          format: date
        year:
          title: Year
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        additional_documents:
          title: Additional documents
          type:
          - string
          - 'null'
        status:
          title: Status
          type: string
          enum:
          - draft
          - in_progress
          - needs_review
          - submitted
          - archived
        email_type:
          title: Email type
          type: string
          enum:
          - default
          - conversation
        submission_type:
          title: Submission type
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
        submitted_by_business_at:
          title: Submitted by business at
          type:
          - string
          - 'null'
          format: date-time
        brokerage_wants_place_directly:
          title: Brokerage wants place directly
          type: boolean
        brokerage_wants_wholesale_with_1fort:
          title: Brokerage wants wholesale with 1fort
          type: boolean
        can_1fort_approach_any_market_wholesale:
          title: Can 1fort approach any market wholesale
          type: boolean
        quote_version:
          title: Quote version
          type: string
          enum:
          - MANUAL
          - API
        copy_src:
          title: Copy src
          description: Source action that triggered application copy (e.g., 'new_limit')
          type:
          - string
          - 'null'
          maxLength: 50
        source:
          title: Source
          description: Where the application submission originated
          type:
          - string
          - 'null'
          enum:
          - storefront
          - broker_in_portal
          - email_ai
          - renewal
          readOnly: true
        created_by:
          title: Created by
          type:
          - integer
          - 'null'
        coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
    CarrierList:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        am_best_rating:
          title: Am best rating
          description: AM Best financial strength rating (e.g., A++, A+, A, A-, B++, B+)
          type:
          - string
          - 'null'
          maxLength: 255
        domains:
          description: Comma-separated list of domain names (e.g., example.com, example.org)
          type:
          - array
          - 'null'
          items:
            title: Domains
            type: string
            maxLength: 255
            minLength: 1
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
    ApplicationCopyOverride:
      type: object
      properties:
        limit:
          title: Limit
          description: Override the limit amount for the new application
          type: integer
        retention:
          title: Retention
          description: Override the retention/deductible amount for the new application
          type: integer
        effective_date:
          title: Effective date
          description: Override the effective date for the new application
          type: string
          format: date
        policy_type:
          title: Policy type
          description: Override the policy type for the new application
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        due_date:
          title: Due date
          description: Override the due date for the new application
          type: string
          format: date
        coverage_layer:
          title: Coverage layer
          description: Override the coverage layer for the new application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        sub_coverage_types:
          description: Override the sub coverage types for the new application. Only applicable for certain coverage types like ML.
          type: array
          items:
            type: string
            minLength: 1
        primary_quote_files:
          description: Primary quote files for excess applications. If provided, these will replace any existing files from the source application.
          type: array
          items:
            type: string
            readOnly: true
            format: uri
        copy_src:
          title: Copy src
          description: Source action that triggered the copy
          type: string
          enum:
          - new_limit
    CoverageApplicationDetail:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        coverage_code:
          title: Coverage code
          type: string
          readOnly: true
          minLength: 1
        sub_coverage_type:
          title: Sub coverage type
          type: string
          readOnly: true
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        primary_quote_files:
          type: array
          items:
            $ref: '#/components/schemas/ExistingQuoteFile'
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
