swagger: '2.0'
info:
  title: 1Fort API Documentation
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
host: api.1fort.com
schemes:
- https
basePath: /apis/
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
  ApiKey:
    type: apiKey
    name: Authorization
    in: header
    description: API key. Send as `Api-Key <key>`.
security:
- Bearer: []
paths:
  /ai-customization-types:
    get:
      operationId: ai-customization-types_list
      description: 'Read-only ViewSet for AI customization types (reference data).

        Restricted to broker and maintainer contexts.'
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/AICustomizationType'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customization-types'
      summary: List AI customization types
    parameters: []
  /ai-customization-types/{id}:
    get:
      operationId: ai-customization-types_read
      description: 'Read-only ViewSet for AI customization types (reference data).

        Restricted to broker and maintainer contexts.'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AICustomizationType'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customization-types'
      summary: Retrieve AI customization type
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this AI Customization Type.
      required: true
      type: string
      format: uuid
  /analytics:
    get:
      operationId: analytics_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - analytics
      summary: List Analytics
    parameters: []
  /analytics/broker:
    get:
      operationId: analytics_broker_list
      summary: Returns the client count, application count, and quote count for a broker.
      description: 'If admin, returns the total count for all brokers.

        if member, return the count for application member is an agent.'
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - analytics
    parameters: []
  /analytics/reports:
    get:
      operationId: analytics_reports_list
      summary: Get All Report Charts
      description: '

        Get all chart data for the reports dashboard. Returns multiple chart datasets

        formatted for Recharts consumption.


        Query Parameters:

        - date_range: Filter for all charts. Options: ''7d'', ''14d'', ''30d'', ''90d'', ''365d'', ''all'' (default: ''30d'')


        Returns:

        - charts: Array of chart objects, each containing chartType, title, description, and chartData

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReportsResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - reports
    parameters: []
  /applications:
    get:
      operationId: applications_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: status
        in: query
        description: status
        required: false
        type: string
      - name: is_active
        in: query
        description: is_active
        required: false
        type: string
      - name: exclude_source
        in: query
        description: exclude_source
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: applications'
      summary: List Applications
    parameters: []
  /applications/count:
    get:
      operationId: applications_count
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: status
        in: query
        description: status
        required: false
        type: string
      - name: is_active
        in: query
        description: is_active
        required: false
        type: string
      - name: exclude_source
        in: query
        description: exclude_source
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: applications'
      summary: Count
    parameters: []
  /applications/{application_pk}/quotes:
    get:
      operationId: applications_quotes_list
      summary: List Quotes by Application
      description: List all quotes for a specific application of the business associated with the logged-in user.
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'quote: applications'
    parameters:
    - name: application_pk
      in: path
      required: true
      type: string
  /applications/{application_pk}/quotes/{id}:
    get:
      operationId: applications_quotes_read
      summary: Retrieve Quote by Application
      description: Retrieve a quote for a specific application of the business associated with the logged-in user.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: applications'
    parameters:
    - name: application_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
  /applications/{id}:
    get:
      operationId: applications_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: applications'
      summary: Retrieve Application
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      type: string
      format: uuid
  /applications/{id}/submit:
    post:
      operationId: applications_submit
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: applications'
      summary: Submit
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      type: string
      format: uuid
  /ascend/invoice/{invoice_id}/download/:
    get:
      operationId: ascend_invoice_download_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security:
      - ApiKey: []
      summary: List Download
      deprecated: true
    post:
      operationId: ascend_invoice_download_create
      description: 'Generate a custom invoice PDF for the specified invoice.

        This endpoint generates a PDF using our internal PDF generator instead of

        proxying to Ascend''s invoice URL.


        Query Parameters:

        - return_json: If true, returns the JSON payload used for PDF generation instead of the PDF'
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security:
      - ApiKey: []
      summary: Create Download
      deprecated: true
    parameters:
    - name: invoice_id
      in: path
      required: true
      type: string
  /ascend/invoice/{invoice_id}/receipt/:
    get:
      operationId: ascend_invoice_receipt_list
      description: 'Serve a receipt PDF for the specified invoice.

        This endpoint serves receipt PDFs from S3 if available.'
      parameters: []
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security:
      - ApiKey: []
      summary: List Receipt
      deprecated: true
    post:
      operationId: ascend_invoice_receipt_create
      description: 'Generate a custom receipt PDF for the specified invoice.

        This endpoint generates a receipt using our internal PDF generator.


        Query Parameters:

        - return_json: If true, returns the JSON payload used for receipt PDF generation instead of the PDF'
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security:
      - ApiKey: []
      summary: Create Receipt
      deprecated: true
    parameters:
    - name: invoice_id
      in: path
      required: true
      type: string
  /ascend/payouts:
    get:
      operationId: ascend_payouts_list
      description: Return a list of payouts with summary data and applied filters.
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Payout'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      summary: List Payouts
      deprecated: true
    parameters: []
  /ascend/payouts/csv:
    get:
      operationId: ascend_payouts_export_csv
      description: 'Export payouts to CSV format.

        Returns all filtered payouts without pagination.'
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Payout'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      produces:
      - '*/*'
      tags:
      - ascend
      summary: Export csv
      deprecated: true
    parameters: []
  /ascend/payouts/filter-options:
    get:
      operationId: ascend_payouts_filter_options
      description: 'Get available filter options for frontend dropdowns.

        Returns unique values for each filterable field within the user''s accessible data.'
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Payout'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      summary: Filter options
      deprecated: true
    parameters: []
  /ascend/payouts/{id}:
    get:
      operationId: ascend_payouts_read
      description: 'ViewSet for retrieving payout data from Ascend.

        Provides comprehensive payout information including amounts, status, timing,

        and related program, invoice, and account details.


        Supports filtering by:

        - status: Filter by payout status (exact match)

        - reference: Filter by payout reference (partial match)

        - amount_min/amount_max: Filter by payout amount range (in dollars)

        - purchased_on_from/purchased_on_to: Filter by program purchase date range

        - initiated_on_from/initiated_on_to: Filter by payout initiation date range

        - cleared_on_from/cleared_on_to: Filter by payout cleared date range

        - customer: Filter by customer/insured name (partial match)

        - payout_type: Filter by payout type (exact match)

        - program_id: Filter by related program ID (exact match)

        - invoice_id: Filter by related invoice ID (exact match)

        - payable_account_id: Filter by payable account ID (exact match)

        - ascend_id: Filter by Ascend payout ID (partial match)


        Supports sorting by:

        - customer, status, reference, amount, purchased date, initiated date, cleared date


        Performance Notes:

        - All filters use indexed fields for optimal performance

        - Date range filters are optimized for large datasets'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Payout'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - ascend
      summary: Retrieve Payout
      deprecated: true
    parameters:
    - name: id
      in: path
      required: true
      type: string
  /ascend/payouts/{id}/dispatch:
    post:
      operationId: ascend_payouts_dispatch_payable
      description: 'Manually release an on_hold Stripe market payable once remittance setup

        is complete (verified agency-bill market with bank details).'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Payout'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Payout'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - ascend
      summary: Dispatch payable
      deprecated: true
    parameters:
    - name: id
      in: path
      required: true
      type: string
  /ascend/webhook/invoice:
    post:
      operationId: ascend_webhook_invoice_webhook
      summary: ViewSet for handling Ascend webhook events.
      description: 'The INVOICE_UPDATE_RESTRICTIONS dictionary defines which updates are not

        allowed for specific event types and current invoice statuses. This ensures

        that invoices follow a predetermined lifecycle and prevents invalid state changes.'
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security: []
      deprecated: true
    parameters: []
  /ascend/webhook/payout:
    post:
      operationId: ascend_webhook_payout_webhook
      summary: ViewSet for handling Ascend webhook events.
      description: 'The INVOICE_UPDATE_RESTRICTIONS dictionary defines which updates are not

        allowed for specific event types and current invoice statuses. This ensures

        that invoices follow a predetermined lifecycle and prevents invalid state changes.'
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - ascend
      security: []
      deprecated: true
    parameters: []
  /auth/google/signin:
    post:
      operationId: auth_google_signin_create
      summary: Sign in with Google
      description: Exchange a Google OAuth ID token for a 1Fort JWT session.
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - id_token
          type: object
          properties:
            id_token:
              description: Google OAuth ID token.
              type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '403':
          description: Permission denied.
          schema:
            $ref: '#/definitions/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    parameters: []
  /auth/google/signup:
    post:
      operationId: auth_google_signup_create
      summary: Sign up with Google
      description: Create a 1Fort account from a Google OAuth ID token and return a JWT session.
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - id_token
          type: object
          properties:
            id_token:
              description: Google OAuth ID token.
              type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '403':
          description: Permission denied.
          schema:
            $ref: '#/definitions/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    parameters: []
  /auth/logout:
    post:
      operationId: auth_logout_create
      description: 'Logs the user out. Always attempts to log out from the Django session.

        Optionally accepts a JWT refresh token in the request body {''refresh'': ''...''}

        to blacklist it if provided.'
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      summary: Create Logout
    parameters: []
  /auth/office365/signin:
    get:
      operationId: auth_office365_signin_list
      summary: Sign in with Office365 (authorization code)
      description: Exchange an Office365 authorization code for a 1Fort JWT session.
      parameters:
      - name: code
        in: query
        description: Office365 OAuth authorization code to exchange for a token.
        type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    post:
      operationId: auth_office365_signin_create
      summary: Sign in with Office365 (access token)
      description: Exchange an Office365 access token for a 1Fort JWT session.
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - token
          type: object
          properties:
            token:
              description: Office365 OAuth access token.
              type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '403':
          description: Permission denied.
          schema:
            $ref: '#/definitions/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    parameters: []
  /auth/office365/signup:
    get:
      operationId: auth_office365_signup_list
      summary: Sign up with Office365 (authorization code)
      description: Create a 1Fort account from an Office365 authorization code and return a JWT session.
      parameters:
      - name: code
        in: query
        description: Office365 OAuth authorization code to exchange for a token.
        type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    post:
      operationId: auth_office365_signup_create
      summary: Sign up with Office365 (access token)
      description: Create a 1Fort account from an Office365 access token and return a JWT session.
      parameters:
      - name: data
        in: body
        required: true
        schema:
          required:
          - token
          type: object
          properties:
            token:
              description: Office365 OAuth access token.
              type: string
      responses:
        '200':
          description: Authenticated. Returns a 1Fort JWT access/refresh token pair.
        '400':
          description: Invalid or unverified token, or no matching user.
        '403':
          description: Permission denied.
          schema:
            $ref: '#/definitions/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
    parameters: []
  /auth/token/refresh:
    post:
      operationId: auth_token_refresh_create
      description: 'Takes a refresh type JSON web token and returns an access type JSON web

        token if the refresh token is valid.'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/TokenRefresh'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenRefresh'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Permission denied.
          schema:
            $ref: '#/definitions/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - auth
      security: []
      summary: Create Refresh
    parameters: []
  /broker:
    get:
      operationId: broker_list
      summary: List Brokers
      description: '

        List all brokers.

        This endpoint lists all brokers.

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/BrokerAgency'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    post:
      operationId: broker_create
      summary: Create Broker
      description: '

        Create a broker.

        This endpoint creates a broker.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerAgency'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerAgency'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters: []
  /broker/{broker_pk}/accept-invite:
    post:
      operationId: broker_accept-invite_create
      summary: Accept Invite
      description: '

        Accept an invite.

        This endpoint accepts a broker user(agent) invite.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AcceptBrokerInvite'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AcceptBrokerInvite'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
      security: []
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/ai-customizations:
    get:
      operationId: broker_ai-customizations_list
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/AICustomization'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: List AI customizations
    post:
      operationId: broker_ai-customizations_create
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AICustomizationCreateUpdate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AICustomizationCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: Create AI customization
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/ai-customizations/{id}:
    get:
      operationId: broker_ai-customizations_read
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AICustomization'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: Retrieve AI customization
    put:
      operationId: broker_ai-customizations_update
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AICustomizationCreateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AICustomizationCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: Update AI customization
    patch:
      operationId: broker_ai-customizations_partial_update
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AICustomizationCreateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AICustomizationCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: Update AI customization
    delete:
      operationId: broker_ai-customizations_delete
      description: ViewSet for managing broker agency AI customizations (full CRUD).
      parameters: []
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: ai-customizations'
      summary: Delete AI customization
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients:
    get:
      operationId: broker_clients_list
      summary: List Broker Clients
      description: '

        List all clients.

        This endpoint lists all the broker''s clients.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BrokerClient'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    post:
      operationId: broker_clients_create
      summary: Create Broker Client
      description: "\nCreate a broker client.\nThis endpoint creates a client.\n\nA subsidiaries list can be passed to create\na client with subsidiaries.\nExample:\n\"subsidiaries\": [\n    {\n        \"name\": \"Subsidiary 1\",\n    }\n]\n"
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerClient'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/admin-users:
    get:
      operationId: broker_clients_admin-users_list
      summary: List Business Admin users
      description: '

        List all business admin users.

        This endpoint lists all the business admin''s users.

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BusinessUser'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - business_admin
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/agents:
    get:
      operationId: broker_clients_agents_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BrokerUserBusiness'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker: clients'
      summary: List Agents
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/applications:
    get:
      operationId: broker_clients_applications_list
      description: Filter out applications that are in draft state and application without herald applications if it's API application
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ApplicationV2List'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: List Applications
    post:
      operationId: broker_clients_applications_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Create Application
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}:
    get:
      operationId: broker_clients_applications_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Retrieve Application
    put:
      operationId: broker_clients_applications_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Update Application
    patch:
      operationId: broker_clients_applications_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Update Application
    delete:
      operationId: broker_clients_applications_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Delete Application
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}/quotes:
    get:
      operationId: broker_clients_applications_get_quotes
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Get quotes
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}/report:
    get:
      operationId: broker_clients_applications_get_report
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Get report
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/invites:
    get:
      operationId: broker_clients_invites_list
      summary: List Broker Client Invites
      description: '

        List all client invites.

        This endpoint lists all the broker''s client invites.

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    post:
      operationId: broker_clients_invites_create
      summary: Invite Client
      description: '

        Send an invite to a client.

        This endpoint creates a client invite.


        Optional fields:

        - application_id: Link invite to specific application

        - trigger_email: Whether to send invitation email immediately

        - custom_message: Personalized message to include in invitation email

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/BrokerBusinessUserInvite'
      responses:
        '201':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/BrokerBusinessUserInvite'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/invites/cancel-invite:
    post:
      operationId: broker_clients_invites_cancel_invite
      summary: Cancel Broker Client Invite
      description: '

        Cancel an invite to a client.

        This endpoint deletes all broker client invites.

        '
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/invites/resend-invite:
    post:
      operationId: broker_clients_invites_resend_invite
      summary: Resend Broker Client Invite
      description: '

        Resend an invite to a client.

        This endpoint resends an existing pending client invite.

        '
      parameters: []
      responses:
        '201':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/quotes:
    get:
      operationId: broker_clients_quotes_list
      summary: List Quotes by Client
      description: List all quotes for a specific client of the logged-in broker.
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/quotes/{id}:
    get:
      operationId: broker_clients_quotes_read
      summary: Retrieve Quote by Client
      description: Retrieve a quote for a specific client of the logged-in broker.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/quotes/{id}/bind:
    post:
      operationId: broker_clients_quotes_request_to_bind
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/QuoteReadOnly'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
      summary: Request to bind
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/quotes/{id}/download-pdf:
    get:
      operationId: broker_clients_quotes_download_pdf
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
      summary: Download pdf
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/quotes/{id}/download-quote-file/{file_pk}:
    get:
      operationId: broker_clients_quotes_download_quote_file
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
      summary: Download quote file
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
    - name: file_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{client_pk}/quotes/{id}/invoices:
    get:
      operationId: broker_clients_quotes_invoice
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/QuoteReadOnly'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote: clients'
      summary: Invoice
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A UUID string identifying this quote.
      required: true
      type: string
      format: uuid
  /broker/{broker_pk}/clients/{client_pk}/users:
    get:
      operationId: broker_clients_users_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BusinessUser'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker: clients'
      summary: List Users
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: client_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/clients/{id}:
    get:
      operationId: broker_clients_read
      summary: Get Broker Client details
      description: '

        Retrieve a broker client.

        This endpoint Get a broker client.

        '
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker
    patch:
      operationId: broker_clients_partial_update
      summary: Update Broker Client
      description: '

        Update a broker client.

        This endpoint updates a broker client.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerClient'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker
    delete:
      operationId: broker_clients_delete
      summary: Delete Broker Client
      description: '

        Delete a broker client.

        This endpoint deletes a broker client.

        '
      parameters: []
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A unique integer value identifying this business.
      required: true
      type: integer
  /broker/{broker_pk}/clients/{id}/agents:
    post:
      operationId: broker_clients_add_agents
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerClient'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: clients'
      summary: Add agents
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A unique integer value identifying this business.
      required: true
      type: integer
  /broker/{broker_pk}/clients/{id}/invite-remind:
    get:
      operationId: broker_clients_client_invite_remind
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: clients'
      summary: Client invite remind
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A unique integer value identifying this business.
      required: true
      type: integer
  /broker/{broker_pk}/clients/{id}/pre-filled-forms:
    post:
      operationId: broker_clients_add_prefilled_forms
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerClient'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerClient'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker: clients'
      summary: Add prefilled forms
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      description: A unique integer value identifying this business.
      required: true
      type: integer
  /broker/{broker_pk}/domain-authentications:
    get:
      operationId: broker_domain-authentications_list
      summary: List domain authentication records
      description: '

        List all domain authentication records for a broker agency.

        Returns DNS configuration records for email domain authentication.

        Note: All modifications should be done through Django admin.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/DomainAuthenticationList'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_settings
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/domain-authentications/verify:
    post:
      operationId: broker_domain-authentications_verify
      summary: Verify Domain Authentication
      description: '

        Trigger DNS verification for the broker agency''s domain.

        Calls SendGrid''s validate endpoint and updates record statuses.


        Returns:

        - success: Whether the API call succeeded

        - all_valid: Whether all DNS records are properly configured

        - records: Updated list of domain authentication records

        - error: Error message if any

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/DomainAuthenticationList'
      responses:
        '200':
          description: Verification completed
          examples:
            application/json:
              success: true
              all_valid: false
              error: null
              records:
              - id: uuid
                status: verified
                host: em1234.example.com
        '400':
          description: Verification failed
        '403':
          description: Forbidden
        '404':
          description: Agency not found
        '500':
          description: Internal server error.
      tags:
      - broker_settings
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/files:
    get:
      operationId: broker_files_list
      summary: List Broker Files
      description: '

        List all files associated with the broker''s insureds.


        This endpoint aggregates files from multiple sources:

        - Quote files (Herald quotes, manual quotes)

        - Application supplementary documents

        - Policy documents

        - Carrier files (invoices, etc.)


        **Query Parameters:**

        - `search` (optional): Search by file name

        - `file_type` (optional): Filter by file type (cois, quote, proposal, application, policy, invoice)

        - `insured` (optional): Filter by insured ID (comma-separated for multiple)

        - `team` (optional): Filter by team member ID (comma-separated for multiple)

        - `date_min` (optional): Filter by minimum date (YYYY-MM-DD, compared in UTC)

        - `date_max` (optional): Filter by maximum date (YYYY-MM-DD, compared in UTC)

        - `source` (optional): Filter by source (email, platform)

        - `limit` (optional): Number of results per page (default: 10)

        - `offset` (optional): Starting position for pagination (default: 0)


        **Authorization:**

        Returns 403 Forbidden if the authenticated user doesn''t belong to the specified broker agency.

        '
      parameters:
      - name: search
        in: query
        description: Search files by name
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: 'Number of results per page (default: 10)'
        type: integer
      - name: offset
        in: query
        description: 'Starting position for pagination (default: 0)'
        type: integer
      - name: file_type
        in: query
        description: Filter by file type (comma-separated)
        type: string
      - name: insured
        in: query
        description: Filter by insured ID (comma-separated)
        type: string
      - name: team
        in: query
        description: Filter by team member ID (comma-separated)
        type: string
      - name: date_min
        in: query
        description: Filter by minimum date (YYYY-MM-DD, compared in UTC)
        type: string
        format: date
      - name: date_max
        in: query
        description: Filter by maximum date (YYYY-MM-DD, compared in UTC)
        type: string
        format: date
      - name: source
        in: query
        description: Filter by source (email, platform)
        type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/BrokerFile'
        '403':
          description: User does not have access to this broker
        '500':
          description: Internal server error.
      tags:
      - broker
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/groups:
    get:
      operationId: broker_groups_list
      summary: List Broker User Groups
      description: '

        List all broker user groups.

        Returns groups with member count for each group.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BrokerUserGroupList'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    post:
      operationId: broker_groups_create
      summary: Create Broker User Group
      description: '

        Create a new broker user group.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerUserGroupCreateUpdate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/groups/{group_pk}/members:
    get:
      operationId: broker_groups_members_list
      summary: List Group Memberships
      description: '

        List all memberships for a specific broker user group.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BrokerUserGroupMembershipList'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    post:
      operationId: broker_groups_members_create
      summary: Add User to Group
      description: '

        Add a broker user to a group.

        Note: Each user can only have one active group membership at a time.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerUserGroupMembershipCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/BrokerUserGroupMembershipCreate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: group_pk
      in: path
      required: true
      type: string
  /broker/{broker_pk}/groups/{group_pk}/members/{id}:
    delete:
      operationId: broker_groups_members_delete
      summary: Remove User from Group
      description: '

        Remove a broker user from a group by deleting the membership.

        '
      parameters: []
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: group_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /broker/{broker_pk}/groups/{id}:
    get:
      operationId: broker_groups_read
      summary: Get Broker User Group
      description: '

        Get detailed information about a specific broker user group.

        '
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerUserGroupDetail'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    put:
      operationId: broker_groups_update
      summary: Update Broker User Group
      description: '

        Update a broker user group.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerUserGroupCreateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    patch:
      operationId: broker_groups_partial_update
      summary: Partially Update Broker User Group
      description: '

        Partially update a broker user group.

        '
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/BrokerUserGroupCreateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          schema:
            $ref: '#/definitions/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    delete:
      operationId: broker_groups_delete
      summary: Delete Broker User Group
      description: '

        Delete a broker user group. Only groups without members can be deleted.

        '
      parameters: []
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          schema:
            $ref: '#/definitions/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    parameters:
    - name: broker_pk
      in: path
      required: true
      type: string
    - name: id
      in: path
      required: true
      type: string
  /broker/{broker_pk}/invites:
    get:
      operationId: broker_invites_list
      summary: List Broker User Invites
      description: '

        List all user invites.

        This endpoint lists all the broker''s user invites.

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BrokerUserInvite'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          schema:
            $ref: '#/definitions/GenericError'
[...]
