openapi: 3.2.0
info:
  title: '1Fort API Documentation application (v2): coverages API'
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: 'application (v2): coverages'
  x-displayName: Coverages
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/broker/{business_pk}/coverages:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_coverages_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
      - name: application__submission_type
        in: query
        description: application__submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerCoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: List Coverages
  /v2/broker/{business_pk}/coverages/{id}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_coverages_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerCoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Retrieve Coverage
    put:
      operationId: v2_broker_coverages_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Update Coverage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
    patch:
      operationId: v2_broker_coverages_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Update Coverage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/broker/{business_pk}/coverages/{id}/accord-forms/{accord_form_pk}/acroform-pdf:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    - name: accord_form_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_coverages_accord-forms_accord_form_acroform_pdf
      summary: Stream the blank Acroform PDF of an ACORD form linked to this coverage.
      description: 'Served through the API (instead of a presigned S3 URL) so the browser

        can fetch the bytes without the S3 bucket needing a CORS policy.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
  /v2/broker/{business_pk}/coverages/{id}/accord-forms/{accord_form_pk}/mapping-file:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    - name: accord_form_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_coverages_accord-forms_accord_form_mapping_file
      description: 'Stream the mapping list file (CSV or legacy XLS) of an ACORD form

        linked to this coverage. Same CORS rationale as the Acroform PDF.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Accord form mapping file
  /v2/broker/{business_pk}/coverages/{id}/answer-with-ai:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_coverages_answer_with_ai
      summary: 'Kick off AI web research to guess answers for the coverage

        application''s raw_question_values.'
      description: 'Nothing is persisted: the merged question set is retrieved by polling

        GET answer-with-ai/{task_id}, reviewed by the user in the frontend,

        and saved through the regular PATCH.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/broker/{business_pk}/coverages/{id}/answer-with-ai/{task_id}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    - name: task_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_coverages_answer_with_ai_result
      description: Poll the result of an answer-with-ai task.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Answer with AI result
  /v2/broker/{business_pk}/coverages/{id}/approve:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_coverages_approve
      description: 'Approve a coverage application held for broker review and submit it

        to carriers immediately.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Approve
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/broker/{business_pk}/coverages/{id}/submit:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_coverages_submit
      summary: Submit a coverage application using the submission service.
      description: 'The service will determine whether to use the market-based flow

        or the legacy flow based on the presence of selected_markets.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/broker/{business_pk}/coverages/{id}/supplemental-application-pdf:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_coverages_supplemental_application_pdf
      summary: Generate and stream the supplemental application PDF for preview.
      description: 'Always generated fresh (never served from stored CoverageApplicationPDF

        records, which may predate the latest answers) so the preview matches

        what GenerateApplicationPDFService attaches to the underwriter

        submission email at send time. Returned inline so the browser can

        render it rather than download it.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
  /v2/coverages:
    parameters: []
    get:
      operationId: v2_coverages_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
      - name: application__submission_type
        in: query
        description: application__submission_type
        required: false
        schema:
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: List Coverages
  /v2/coverages/{id}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_coverages_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationWithCompositeResponse'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Retrieve Coverage
    put:
      operationId: v2_coverages_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Update Coverage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
    patch:
      operationId: v2_coverages_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Update Coverage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/coverages/{id}/collect-signatures:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_coverages_collect_signatures
      description: 'Collects and saves the signature (text or image) for a coverage application

        without submitting the application itself or changing its status.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      summary: Collect signatures
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
  /v2/coverages/{id}/submit:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_coverages_submit
      summary: Submit a coverage application as a business user using the submission service.
      description: 'The service will determine whether to use the market-based flow

        or the legacy flow based on the presence of selected_markets.

        Signature is required before submission.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageApplicationUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application (v2): coverages'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageApplicationUpdate'
        required: true
components:
  schemas:
    BrokerCoverageApplicationWithCompositeResponse:
      required:
      - coverage_type
      - application
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        coverage_type:
          $ref: '#/components/schemas/ProductLine'
        sub_coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        status:
          title: Status
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
        status_display:
          title: Status display
          type: string
          readOnly: true
          minLength: 1
        application:
          title: Application
          type: string
          format: uuid
        raw_question_values:
          title: Raw question values
          type:
          - object
          - 'null'
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        policy_type_display:
          title: Policy type display
          type: string
          readOnly: true
          minLength: 1
        additional_notes:
          title: Additional notes
          description: Additional notes for the coverage application
          type:
          - string
          - 'null'
        supplementary_documents:
          title: Supplementary documents
          type: string
          readOnly: true
        due_date:
          title: Due date
          type: string
          format: date
          readOnly: true
        effective_date:
          title: Effective date
          type: string
          format: date
          readOnly: true
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        coverage_layer_display:
          title: Coverage layer display
          type: string
          readOnly: true
          minLength: 1
        submission_type:
          title: Submission type
          type: string
          readOnly: true
          minLength: 1
        submission_type_display:
          title: Submission type display
          type: string
          readOnly: true
          minLength: 1
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarrierList'
          readOnly: true
        selected_markets:
          title: Selected markets
          type: string
          readOnly: true
        coverage_line_status:
          title: Coverage line status
          type: string
          readOnly: true
          minLength: 1
        quote_count:
          title: Quote count
          type: integer
          readOnly: true
          default: 0
        policy_count:
          title: Policy count
          type: integer
          readOnly: true
          default: 0
        source:
          title: Source
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
        accord_forms:
          type: array
          items:
            $ref: '#/components/schemas/CoverageAccordForm'
          readOnly: true
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    CanonicalProductLineRef:
      required:
      - code
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        code:
          title: Code
          type: string
          maxLength: 150
          minLength: 1
        display_name:
          title: Display name
          type:
          - string
          - 'null'
          maxLength: 255
    CoverageAccordForm:
      required:
      - accord_number
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        accord_number:
          title: Accord number
          description: ACORD form number (e.g., '1', '125')
          type: string
          maxLength: 50
          minLength: 1
        state:
          title: State
          description: US state code for state-specific forms (e.g., 'CA', 'FL')
          type:
          - string
          - 'null'
          maxLength: 10
        date_issued:
          title: Date issued
          description: Issue date extracted from form filename
          type:
          - string
          - 'null'
          format: date
        name:
          title: Name
          type: string
          readOnly: true
        acroform_pdf_url:
          title: Acroform pdf url
          type:
          - string
          - 'null'
          readOnly: true
        mapping_file_url:
          title: Mapping file url
          type:
          - string
          - 'null'
          readOnly: true
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    CoverageApplicationWithCompositeResponse:
      required:
      - coverage_type
      - application
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        coverage_type:
          $ref: '#/components/schemas/ProductLine'
        sub_coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        status:
          title: Status
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
        status_display:
          title: Status display
          type: string
          readOnly: true
          minLength: 1
        application:
          title: Application
          type: string
          format: uuid
        raw_question_values:
          title: Raw question values
          type:
          - object
          - 'null'
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        policy_type_display:
          title: Policy type display
          type: string
          readOnly: true
          minLength: 1
        additional_notes:
          title: Additional notes
          description: Additional notes for the coverage application
          type:
          - string
          - 'null'
        supplementary_documents:
          title: Supplementary documents
          type: string
          readOnly: true
        due_date:
          title: Due date
          type: string
          format: date
          readOnly: true
        effective_date:
          title: Effective date
          type: string
          format: date
          readOnly: true
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        coverage_layer_display:
          title: Coverage layer display
          type: string
          readOnly: true
          minLength: 1
        submission_type:
          title: Submission type
          type: string
          readOnly: true
          minLength: 1
        submission_type_display:
          title: Submission type display
          type: string
          readOnly: true
          minLength: 1
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarrierList'
          readOnly: true
        selected_markets:
          title: Selected markets
          type: string
          readOnly: true
        coverage_line_status:
          title: Coverage line status
          type: string
          readOnly: true
          minLength: 1
        quote_count:
          title: Quote count
          type: integer
          readOnly: true
          default: 0
        policy_count:
          title: Policy count
          type: integer
          readOnly: true
          default: 0
        source:
          title: Source
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
    ParameterValueUpdate:
      required:
      - value
      type: object
      properties:
        risk_parameter_id:
          title: Risk parameter id
          type: string
          maxLength: 255
          minLength: 1
        coverage_parameter_id:
          title: Coverage parameter id
          type: string
          maxLength: 255
          minLength: 1
        instance:
          title: Instance
          type: string
          minLength: 1
        child_risk_values:
          type: array
          items:
            type:
            - string
            - 'null'
        child_coverage_values:
          type: array
          items:
            type:
            - string
            - 'null'
        value:
          title: Value
          type:
          - object
          - 'null'
    CoverageApplicationUpdate:
      type: object
      properties:
        risk_values:
          type: array
          items:
            $ref: '#/components/schemas/ParameterValueUpdate'
        raw_question_values:
          title: Raw question values
          type: object
        coverage_values:
          type: array
          items:
            $ref: '#/components/schemas/ParameterValueUpdate'
        additional_notes:
          title: Additional notes
          type: string
          minLength: 1
        status:
          title: Status
          type: string
          enum:
          - archived
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        effective_date:
          title: Effective date
          type: string
          format: date
        due_date:
          title: Due date
          type: string
          format: date
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        submission_type:
          title: Submission type
          type: string
          minLength: 1
        coverage_layer:
          title: Coverage layer
          description: Indicates if this is a primary or excess coverage application
          type: string
          enum:
          - PRIMARY
          - EXCESS
        selected_markets:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
    SubProductLine:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        display_name:
          title: Display name
          description: Name used on the Frontend.
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
    ProductLine:
      required:
      - code
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        code:
          title: Code
          type: string
          maxLength: 150
          minLength: 1
        description:
          title: Description
          type:
          - string
          - 'null'
        name:
          title: Name
          type: string
          readOnly: true
        is_core:
          title: Is core
          type: boolean
          readOnly: true
        sub_product_lines:
          type: array
          items:
            $ref: '#/components/schemas/SubProductLine'
          readOnly: true
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        category:
          title: Category
          type:
          - string
          - 'null'
          enum:
          - Property
          - Casualty
          - Both
          - Property only
        canonical_product_line:
          $ref: '#/components/schemas/CanonicalProductLineRef'
    CarrierList:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        logo:
          title: Logo
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        am_best_rating:
          title: Am best rating
          description: AM Best financial strength rating (e.g., A++, A+, A, A-, B++, B+)
          type:
          - string
          - 'null'
          maxLength: 255
        domains:
          description: Comma-separated list of domain names (e.g., example.com, example.org)
          type:
          - array
          - 'null'
          items:
            title: Domains
            type: string
            maxLength: 255
            minLength: 1
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
