openapi: 3.2.0
info:
  title: 1Fort API Documentation Invite API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: invite
  x-displayName: Invite
  description: 'Invitations for broker and business users.


    **Access:** mixed; some endpoints are public, others require JWT (per endpoint).'
paths:
  /invite:
    parameters: []
    get:
      operationId: invite_list
      summary: Get invites
      description: '

        Get invites in the logged in user''s business.


        **Permissions:** `can_invite_users`

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessUserInvite'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
    post:
      operationId: invite_create
      summary: Send Invites
      description: '

        Send Invites to the logged in user''s business.


        **Permissions:** `can_invite_users`

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessUserInvite'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BusinessUserInvite'
        required: true
  /invite/accept/email:
    parameters: []
    post:
      operationId: invite_accept_accept_business_user
      summary: Accept business user invite with email
      description: '

        Accept business user invite with email.


        **Rate limit:** 10 requests per minute

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserInviteAccept'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserInviteAccept'
        required: true
  /invite/accept/google:
    parameters: []
    post:
      operationId: invite_accept_accept_business_user_google
      summary: Accept business user invite with google
      description: '

        Accept business user invite with google.


        **Rate limit:** 10 requests per minute

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserInviteAcceptGoogle'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserInviteAcceptGoogle'
        required: true
  /invite/accept/office-365:
    parameters: []
    post:
      operationId: invite_accept_accept_business_user_office_365
      summary: Accept business user invite with office 365
      description: '

        Accept business user invite with office 365.



        **Rate limit:** 10 requests per minute

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserInviteAcceptOffice365'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserInviteAcceptOffice365'
        required: true
  /invite/validate:
    parameters: []
    post:
      operationId: invite_validate_create
      summary: Validate invite
      description: '

        Validate invite.


        **Rate limit:** 10 requests per minute

        '
      responses:
        '200':
          description: Validate invite token and return users email
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    description: Email of the invitee
                    type: string
                  first_name:
                    description: First name of the invitee
                    type: string
                  last_name:
                    description: Last name of the invitee
                    type: string
                  type:
                    description: The insurance-related role type of the user (for broker invites only)
                    type:
                    - string
                    - 'null'
        '400':
          description: Invalid token
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - invite
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateInvite'
        required: true
  /invite/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this business user invite.
      required: true
      schema:
        type: integer
    delete:
      operationId: invite_delete
      summary: Cancel Invite
      description: '

        Cancel an invite.



        **Permissions:** `can_invite_users`

        '
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - invite
components:
  schemas:
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BusinessUserInviteAcceptGoogle:
      required:
      - invite_token
      - id_token
      type: object
      properties:
        refresh:
          title: Refresh
          type: string
          readOnly: true
          minLength: 1
        access:
          title: Access
          type: string
          readOnly: true
          minLength: 1
        id:
          title: Id
          type: integer
          readOnly: true
        invite_token:
          title: Invite token
          type: string
          minLength: 1
        email:
          title: Email
          type: string
          readOnly: true
          minLength: 1
        first_name:
          title: First name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        company_role:
          title: Company role
          type: string
          minLength: 1
        id_token:
          title: Id token
          type: string
          minLength: 1
    BusinessUserInvite:
      required:
      - invitee_email
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        business:
          title: Business
          type: integer
          readOnly: true
        inviter:
          title: Inviter
          type: integer
          readOnly: true
        invitee_email:
          title: Invitee email
          type: string
          format: email
          minLength: 1
        first_name:
          title: First name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        status:
          title: Status
          type: string
          readOnly: true
          minLength: 1
        employee_type:
          title: Employee type
          type: string
          enum:
          - employee
          - contractor
          - non_employee
          - auditor
          - soc2
          - it_security
          - other
          default: employee
        position:
          title: Position
          type: string
        access_role:
          title: Access role
          type: string
          enum:
          - admin
          - super_admin
          - user
          - one_fort_maintainer
          - auditor
          default: admin
        created_at:
          title: Created at
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        groups:
          type: array
          items:
            type: integer
    BusinessUserInviteAcceptOffice365:
      required:
      - invite_token
      - id_token
      type: object
      properties:
        refresh:
          title: Refresh
          type: string
          readOnly: true
          minLength: 1
        access:
          title: Access
          type: string
          readOnly: true
          minLength: 1
        id:
          title: Id
          type: integer
          readOnly: true
        invite_token:
          title: Invite token
          type: string
          minLength: 1
        email:
          title: Email
          type: string
          readOnly: true
          minLength: 1
        first_name:
          title: First name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        company_role:
          title: Company role
          type: string
          minLength: 1
        id_token:
          title: Id token
          type: string
          minLength: 1
    ValidateInvite:
      required:
      - token
      type: object
      properties:
        token:
          title: Token
          type: string
          minLength: 1
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
    BusinessUserInviteAccept:
      required:
      - invite_token
      - email
      type: object
      properties:
        refresh:
          title: Refresh
          type: string
          readOnly: true
          minLength: 1
        access:
          title: Access
          type: string
          readOnly: true
          minLength: 1
        id:
          title: Id
          type: integer
          readOnly: true
        invite_token:
          title: Invite token
          type: string
          minLength: 1
        email:
          title: Email
          type: string
          format: email
          minLength: 1
        first_name:
          title: First name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        company_role:
          title: Company role
          type: string
          minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
