openapi: 3.2.0
info:
  title: 1Fort API Documentation treasury (v2) treasury (v2) API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: treasury (v2)
  x-displayName: Treasury (v2)
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/treasury/activity:
    parameters: []
    get:
      operationId: v2_treasury_activity_list
      summary: Unified money-movement feed for the broker's Transactions tab.
      description: "GET /apis/v2/treasury/activity?type=&limit=&offset=\n\nMerges three sources into one date-ordered list:\n\n* Treasury FA transactions (except payout rows — see below), which carry\n  regulatory receipts (``has_receipt``, fetched via\n  ``/treasury/transactions/{id}/receipt``);\n* payouts of the payments balance (from StripePayout, so payouts to the\n  broker's own external bank are included; the payout rows mirrored in\n  the FA ledger are excluded to avoid listing the same payout twice);\n* Connect transfers of collected premiums into the broker's account.\n\n``type`` filters to one row type: a Treasury object type, ``payout``,\nor ``transfer``."
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - treasury (v2)
  /v2/treasury/balances:
    parameters: []
    get:
      operationId: v2_treasury_balances_list
      summary: Balances of the broker's Treasury financial accounts.
      description: 'GET /apis/v2/treasury/balances


        Served from the local FA snapshots, which every money-movement webhook

        refreshes — no Stripe round trip per request. ``updated_at`` tells the

        client how fresh each snapshot is.'
      responses:
        '200':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - treasury (v2)
  /v2/treasury/transactions:
    parameters: []
    get:
      operationId: v2_treasury_transactions_list
      summary: Money movements of the broker's Treasury financial accounts.
      description: 'Connected accounts have no Stripe dashboard, so brokers retrieve the

        hosted regulatory receipt of regulated transactions here (Stripe money

        transmission license requirement). Receipt URLs are fetched from Stripe

        per request — never stored — since they rotate and expire after 60 days.'
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TreasuryTransaction'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - treasury (v2)
  /v2/treasury/transactions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_treasury_transactions_read
      summary: Money movements of the broker's Treasury financial accounts.
      description: 'Connected accounts have no Stripe dashboard, so brokers retrieve the

        hosted regulatory receipt of regulated transactions here (Stripe money

        transmission license requirement). Receipt URLs are fetched from Stripe

        per request — never stored — since they rotate and expire after 60 days.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreasuryTransaction'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - treasury (v2)
  /v2/treasury/transactions/{id}/receipt:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_treasury_transactions_receipt
      summary: On-demand regulatory receipt for a Treasury transaction.
      description: 'GET /apis/v2/treasury/transactions/{id}/receipt


        Returns the Stripe-hosted regulatory receipt URL plus display fields;

        404 when Stripe exposes no receipt (the transaction isn''t regulated).'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreasuryTransaction'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - treasury (v2)
components:
  schemas:
    TreasuryTransaction:
      required:
      - object_type
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        object_type:
          title: Object type
          type: string
          enum:
          - outbound_transfer
          - outbound_payment
          - inbound_transfer
          - received_credit
          - received_debit
          - credit_reversal
          - debit_reversal
          - payout
        direction:
          title: Direction
          type: string
          readOnly: true
          minLength: 1
        account_type:
          title: Account type
          type: string
          readOnly: true
          minLength: 1
        amount_cents:
          title: Amount cents
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        currency:
          title: Currency
          type: string
          maxLength: 3
          minLength: 1
        status:
          title: Status
          type: string
          maxLength: 32
        description:
          title: Description
          type: string
          maxLength: 255
        stripe_created_at:
          title: Stripe created at
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
