openapi: 3.2.0
info:
  title: 1Fort API Documentation Business Broker Users API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: business-broker-users
  x-displayName: Broker users
  description: '**Access:** requires a JWT access token.'
paths:
  /business-broker-users:
    parameters: []
    get:
      operationId: business-broker-users_list
      summary: Get Business Broker Users
      description: '

        Get the list of all the broker users in the logged in user''s business.

        '
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerUser'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - business-broker-users
components:
  schemas:
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BrokerUser:
      required:
      - first_name
      - last_name
      type: object
      properties:
        pk:
          title: ID
          type: integer
          readOnly: true
        user_defined_role:
          title: User defined role
          type:
          - string
          - 'null'
          maxLength: 255
        type:
          title: Type
          description: Specifies the insurance-related role type of the user within the agency.
          type:
          - string
          - 'null'
          enum:
          - LEADERSHIP
          - SALES
          - SERVICE
          - MARKETS
          - OPERATIONS
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        first_name:
          title: First name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        email:
          title: Email
          type: string
          readOnly: true
          minLength: 1
        role:
          title: Role
          description: User's role in the agency. Set to null to revoke platform access.
          type:
          - string
          - 'null'
          enum:
          - Admin
          - Member
          - Billing
          - IT
          - OneFort Maintainer
        status:
          title: Status
          type: string
          readOnly: true
        producer_id:
          title: Producer id
          type:
          - string
          - 'null'
          maxLength: 255
        phone_number:
          title: Phone number
          type:
          - string
          - 'null'
          maxLength: 255
        primary_workflow_activities:
          type: array
          items:
            type: string
            maxLength: 128
            minLength: 1
        is_current_user:
          title: Is current user
          type: boolean
          readOnly: true
        is_storefront_default:
          title: Is storefront default
          type: string
          readOnly: true
        storefront_id:
          title: Storefront id
          type:
          - string
          - 'null'
          format: uuid
          readOnly: true
        storefront_url_slug:
          title: Storefront url slug
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        slug:
          title: Slug
          description: URL-safe identifier per agency from the user's name (e.g. ernesto-freyre). Populated automatically when empty.
          type:
          - string
          - 'null'
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
        review_submissions_before_submitting:
          title: Review submissions before submitting
          description: When on, business submissions for accounts where this user is the primary agent are held in Needs Review instead of being sent to carriers immediately.
          type: boolean
        auto_submit_renewal_applications:
          title: Auto submit renewal applications
          description: 'Opt-in: when on, renewal applications for accounts where this user is the primary agent are created automatically ahead of policy expiration and renewal notification emails are sent. The agency-level field of the same name exists but this per-user flag is the active gate.'
          type: boolean
        renewal_submission_lead_days:
          title: Renewal submission lead days
          description: How many days before a policy's expiration date its renewal application is created automatically (30-180).
          type: integer
          maximum: 180
          minimum: 30
        renewal_due_date_days:
          title: Renewal due date days
          description: How many days before the renewal effective date the renewal application is due (15-30).
          type: integer
          maximum: 30
          minimum: 15
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
