openapi: 3.2.0
info:
  title: '1Fort API Documentation application: clients API'
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: 'application: clients'
  x-displayName: Clients
  description: '**Access:** requires a JWT access token.'
paths:
  /broker/{broker_pk}/clients/{client_pk}/applications:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: client_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: broker_clients_applications_list
      description: Filter out applications that are in draft state and application without herald applications if it's API application
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationV2List'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: List Applications
    post:
      operationId: broker_clients_applications_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Create Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: client_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: broker_clients_applications_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Retrieve Application
    put:
      operationId: broker_clients_applications_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Update Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
    patch:
      operationId: broker_clients_applications_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Update Application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
    delete:
      operationId: broker_clients_applications_delete
      description: ''
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Delete Application
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}/quotes:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: client_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: broker_clients_applications_get_quotes
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Get quotes
  /broker/{broker_pk}/clients/{client_pk}/applications/{id}/report:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: client_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: broker_clients_applications_get_report
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'application: clients'
      summary: Get report
components:
  schemas:
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BrokerUserList:
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        first_name:
          title: First name
          type: string
          readOnly: true
          minLength: 1
        last_name:
          title: Last name
          type: string
          readOnly: true
          minLength: 1
        email:
          title: Email
          type: string
          readOnly: true
          minLength: 1
        producer_id:
          title: Producer id
          type: string
          readOnly: true
          minLength: 1
        type:
          title: Type
          description: Specifies the insurance-related role type of the user within the agency.
          type:
          - string
          - 'null'
          enum:
          - LEADERSHIP
          - SALES
          - SERVICE
          - MARKETS
          - OPERATIONS
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          readOnly: true
          minLength: 1
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BusinessList:
      required:
      - name
      type: object
      properties:
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        id:
          title: ID
          type: integer
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        industry:
          title: Industry
          type:
          - string
          - 'null'
          maxLength: 255
        number_of_employees:
          title: Number of employees
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: 0
        active:
          title: Active
          type: boolean
        domain_name:
          title: Domain name
          type:
          - string
          - 'null'
          maxLength: 500
        subsidiaries:
          type: array
          items:
            $ref: '#/components/schemas/BusinessSubsidiary'
          readOnly: true
        revenue:
          title: Revenue
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
    Application:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        carriers:
          type: array
          items:
            type: string
          uniqueItems: true
        selected_markets:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        is_active:
          title: Is active
          type: boolean
          readOnly: true
        business:
          $ref: '#/components/schemas/BusinessList'
        created_by:
          $ref: '#/components/schemas/BrokerUserList'
        brokerage_direct_placement_carriers:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        carriers_1fort_should_not_approach:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        effective_date:
          title: Effective date
          type:
          - string
          - 'null'
          format: date
        due_date:
          title: Due date
          type:
          - string
          - 'null'
          format: date
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        year:
          title: Year
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        prefilled_application:
          title: Prefilled application
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        additional_documents:
          title: Additional documents
          type:
          - string
          - 'null'
        status:
          title: Status
          type: string
          enum:
          - draft
          - in_progress
          - needs_review
          - submitted
          - archived
        email_type:
          title: Email type
          type: string
          enum:
          - default
          - conversation
        submission_type:
          title: Submission type
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
        form_override:
          title: Form override
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        submitted_by_business_at:
          title: Submitted by business at
          type:
          - string
          - 'null'
          format: date-time
        brokerage_wants_place_directly:
          title: Brokerage wants place directly
          type: boolean
        brokerage_wants_wholesale_with_1fort:
          title: Brokerage wants wholesale with 1fort
          type: boolean
        can_1fort_approach_any_market_wholesale:
          title: Can 1fort approach any market wholesale
          type: boolean
        quote_version:
          title: Quote version
          type: string
          enum:
          - MANUAL
          - API
        copy_src:
          title: Copy src
          description: Source action that triggered application copy (e.g., 'new_limit')
          type:
          - string
          - 'null'
          maxLength: 50
        source:
          title: Source
          description: Where the application submission originated
          type:
          - string
          - 'null'
          enum:
          - storefront
          - broker_in_portal
          - email_ai
          - renewal
          readOnly: true
        coverage_types:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
    BusinessSubsidiary:
      required:
      - name
      - business
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        description:
          title: Description
          type:
          - string
          - 'null'
        ownership:
          title: Ownership
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: 0
        business:
          title: Business
          type: integer
    ApplicationV2List:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        coverage_types:
          type: array
          items:
            type: string
          readOnly: true
          uniqueItems: true
        has_coverages:
          title: Has coverages
          type: string
          readOnly: true
        coverage_applications:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
          uniqueItems: true
        markets:
          title: Markets
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        description:
          title: Description
          type:
          - string
          - 'null'
        is_active:
          title: Is active
          type: boolean
        effective_date:
          title: Effective date
          type:
          - string
          - 'null'
          format: date
        due_date:
          title: Due date
          type:
          - string
          - 'null'
          format: date
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        year:
          title: Year
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        additional_documents:
          title: Additional documents
          type:
          - string
          - 'null'
        status:
          title: Status
          type: string
          enum:
          - draft
          - in_progress
          - needs_review
          - submitted
          - archived
        email_type:
          title: Email type
          type: string
          enum:
          - default
          - conversation
        submission_type:
          title: Submission type
          type: string
          enum:
          - NEW
          - RENEWAL
          - OTHER
        submitted_by_business_at:
          title: Submitted by business at
          type:
          - string
          - 'null'
          format: date-time
        brokerage_wants_place_directly:
          title: Brokerage wants place directly
          type: boolean
        brokerage_wants_wholesale_with_1fort:
          title: Brokerage wants wholesale with 1fort
          type: boolean
        can_1fort_approach_any_market_wholesale:
          title: Can 1fort approach any market wholesale
          type: boolean
        quote_version:
          title: Quote version
          type: string
          enum:
          - MANUAL
          - API
        copy_src:
          title: Copy src
          description: Source action that triggered application copy (e.g., 'new_limit')
          type:
          - string
          - 'null'
          maxLength: 50
        source:
          title: Source
          description: Where the application submission originated
          type:
          - string
          - 'null'
          enum:
          - storefront
          - broker_in_portal
          - email_ai
          - renewal
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
