openapi: 3.2.0
info:
  title: 1Fort API Documentation Email AI Agent - Reference Data API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform.'
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: Email AI Agent - Reference Data
  x-displayName: Reference Data
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/broker/agent/carriers/search:
    parameters: []
    post:
      operationId: agent_search_carriers
      summary: Search Carriers (OpenSearch)
      description: 'Execute an OpenSearch query against the carrier index.


        This is faster than /match as it bypasses embeddings. The agent constructs

        the query directly using OpenSearch Query DSL.


        **Example - Fuzzy name search**:

        ```json

        {

        "query": {

        "bool": {

        "must": [

        {"match": {"name": {"query": "Liberty Mutual", "fuzziness": "AUTO"}}}

        ],

        "filter": [

        {"term": {"is_active": true}}

        ]

        }

        },

        "size": 10

        }

        ```


        **Example - Exact state filter**:

        ```json

        {

        "query": {

        "bool": {

        "must": [{"match": {"name": "Chubb"}}],

        "filter": [{"term": {"mailing_address_state": "NY"}}]

        }

        }

        }

        ```


        **Index Fields**:

        - `name` (text, boosted): Carrier name

        - `is_active` (boolean): Active status

        - `mailing_address_state` (keyword): State code


        **Limits**: size max 100'
      responses:
        '200':
          description: Search results
        '500':
          description: Search error
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Permission denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
      tags:
      - Email AI Agent - Reference Data
      requestBody:
        content:
          application/json:
            schema:
              description: OpenSearch query DSL
              type: object
              example:
                query:
                  bool:
                    must:
                    - match:
                        name:
                          query: Liberty
                          fuzziness: AUTO
                    filter:
                    - term:
                        is_active: true
                size: 10
        required: true
  /v2/broker/agent/coverage-types/search:
    parameters: []
    post:
      operationId: agent_search_coverage_types
      summary: Search Coverage Types (OpenSearch)
      description: 'Execute an OpenSearch query against the coverage type (ProductLine) index.


        **Example - Name search**:

        ```json

        {

        "query": {

        "bool": {

        "must": [{"match": {"display_name": {"query": "Cyber", "fuzziness": "AUTO"}}}],

        "filter": [{"term": {"is_active": true}}]

        }

        },

        "size": 10

        }

        ```


        **Example - Exact code match**:

        ```json

        {

        "query": {

        "term": {"code": "CYBER"}

        }

        }

        ```


        **Index Fields**:

        - `display_name` (text, boosted): Display name (e.g., "Cyber Liability")

        - `code` (keyword): Code for exact match (e.g., "CYBER", "GL")

        - `description` (text): Description

        - `is_active` (boolean): Active status

        - `is_core` (boolean): Core coverage type flag


        **Limits**: size max 100'
      responses:
        '200':
          description: Search results
        '500':
          description: Search error
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Permission denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
      tags:
      - Email AI Agent - Reference Data
      requestBody:
        content:
          application/json:
            schema:
              description: OpenSearch query DSL
              type: object
        required: true
  /v2/broker/agent/wholesalers/search:
    parameters: []
    post:
      operationId: agent_search_wholesalers
      summary: Search Wholesalers/MGAs (OpenSearch)
      description: 'Execute an OpenSearch query against the wholesaler index.


        This endpoint searches both wholesalers AND MGAs (same model).

        The agent determines from context whether to use the ID as wholesaler_id or mga_id.


        **Example - Name search**:

        ```json

        {

        "query": {

        "bool": {

        "must": [{"match": {"name": {"query": "CRC Insurance", "fuzziness": "AUTO"}}}],

        "filter": [{"term": {"is_active": true}}]

        }

        },

        "size": 10

        }

        ```


        **Index Fields**:

        - `name` (text, boosted): Wholesaler/MGA name

        - `is_active` (boolean): Active status

        - `mailing_address_city` (keyword): City

        - `mailing_address_state` (keyword): State code

        - `ascend_identifier` (keyword): Ascend ID for exact match


        **Limits**: size max 100'
      responses:
        '200':
          description: Search results
        '500':
          description: Search error
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Permission denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
      tags:
      - Email AI Agent - Reference Data
      requestBody:
        content:
          application/json:
            schema:
              description: OpenSearch query DSL
              type: object
        required: true
components:
  schemas:
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
