openapi: 3.2.0
info:
  title: '1Fort API Documentation broker (v2): coverages API'
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: 'broker (v2): coverages'
  x-displayName: Coverages
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/broker/coverages:
    parameters: []
    get:
      operationId: v2_broker_coverages_list
      summary: Paginated ViewSet for retrieving coverages for the broker.
      description: 'Supports Filtering By:

        - insured

        - coverage_type

        - agent (any assigned team member, not just primary)

        - status

        - submission_type

        - effective_date_min (minimum effective date, inclusive)

        - effective_date_max (maximum effective date, inclusive)


        Supports Searching By:

        - insured'
      parameters:
      - name: insured
        in: query
        description: 'Filter coverages by insured.


          Examples:

          - `?insured=Acme Inc.` - Matches coverages with ''Acme Inc.'' in insured name

          - `?insured=Acme Inc., Acme Corp.` - Matches coverages with ''Acme Inc.'' or ''Acme Corp.'' in insured name'
        required: false
        schema:
          type: string
      - name: coverage_type
        in: query
        description: 'Filter coverages by coverage type.


          Examples:

          - `?coverage_type=CYBER` - Matches coverages with ''CYBER'' in coverage type

          - `?coverage_type=CYBER, GENERAL_LIABILITY` - Matches coverages with ''CYBER'' or ''GENERAL_LIABILITY'' in coverage type'
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: 'Filter coverages by status.


          Examples:

          - `?status=ACTIVE` - Matches coverages with ''ACTIVE'' in status

          - `?status=ACTIVE, PENDING` - Matches coverages with ''ACTIVE'' or ''PENDING'' in status'
        required: false
        schema:
          type: string
      - name: agent
        in: query
        description: 'Filter coverages by assigned team member.


          Examples:

          - `?agent=123` - Matches coverages where agent id 123 is assigned

          - `?agent=123,456` - Matches coverages where agent id 123 or 456 is assigned'
        required: false
        schema:
          type: string
      - name: submission_type
        in: query
        description: 'Filter coverages by submission type. Supports comma-separated values.


          Available values:

          - `NEW` - New business submissions

          - `RENEWAL` - Renewal submissions

          - `OTHER` - Other submission types


          Examples:

          - `?submission_type=NEW` - Matches new business submissions

          - `?submission_type=NEW,RENEWAL` - Matches new or renewal submissions'
        required: false
        schema:
          type: string
      - name: effective_date_min
        in: query
        description: 'Filter coverages by minimum effective date (inclusive). Use ISO 8601 date format.


          Examples:

          - `?effective_date_min=2024-01-01` - Matches coverages with effective date on or after January 1, 2024

          - `?effective_date_min=2024-01-01&effective_date_max=2024-12-31` - Matches coverages with effective date in 2024'
        required: false
        schema:
          type: string
          format: date
      - name: effective_date_max
        in: query
        description: 'Filter coverages by maximum effective date (inclusive). Use ISO 8601 date format.


          Examples:

          - `?effective_date_max=2024-12-31` - Matches coverages with effective date on or before December 31, 2024

          - `?effective_date_min=2024-01-01&effective_date_max=2024-12-31` - Matches coverages with effective date in 2024'
        required: false
        schema:
          type: string
          format: date
      - name: exclude_source
        in: query
        description: exclude_source
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerCoverageV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'broker (v2): coverages'
  /v2/broker/coverages/{id}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this coverage application.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_coverages_read
      summary: Paginated ViewSet for retrieving coverages for the broker.
      description: 'Supports Filtering By:

        - insured

        - coverage_type

        - agent (any assigned team member, not just primary)

        - status

        - submission_type

        - effective_date_min (minimum effective date, inclusive)

        - effective_date_max (maximum effective date, inclusive)


        Supports Searching By:

        - insured'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerCoverageV2'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'broker (v2): coverages'
components:
  schemas:
    BrokerCoverageV2:
      required:
      - application
      - quote_count
      - binder_count
      - policy_count
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        insured:
          title: Insured
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        coverage_type:
          title: Coverage type
          type: string
          readOnly: true
        status:
          title: Status
          type: string
          enum:
          - in_progress
          - generating_questions
          - pending_business_info
          - needs_review
          - submitted
          - archived
        application:
          title: Application
          type: string
          format: uuid
        primary_agent:
          title: Primary agent
          type: string
          readOnly: true
        all_agents:
          title: All agents
          type: string
          readOnly: true
        markets:
          title: Markets
          type: string
          readOnly: true
        effective_date:
          title: Effective date
          type: string
          format: date
          readOnly: true
        quote_count:
          title: Quote count
          type: integer
        binder_count:
          title: Binder count
          type: integer
        policy_count:
          title: Policy count
          type: integer
        policy_type:
          title: Policy type
          type: string
          enum:
          - ADMITTED
          - SURPLUS_LINES
          - ADMITTED_AND_SURPLUS_LINES
        submission_type:
          title: Submission type
          type: string
          readOnly: true
          minLength: 1
        limit:
          title: Limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        retention:
          title: Retention
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        building_limit:
          title: Building limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        contents_limit:
          title: Contents limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        business_income_limit:
          title: Business income limit
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        valuation:
          title: Valuation
          type:
          - string
          - 'null'
          enum:
          - ACV
          - RCV
          - AGREED
        deductible:
          title: Deductible
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
        source:
          title: Source
          type: string
          readOnly: true
          minLength: 1
        source_display:
          title: Source display
          type: string
          readOnly: true
          minLength: 1
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
