openapi: 3.2.0
info:
  title: '1Fort API Documentation quote (v2): quote-policies API'
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: 'quote (v2): quote-policies'
  x-displayName: Quote policies
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/broker/{business_pk}/quote-policies:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_quote-policies_list
      description: ''
      parameters:
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuotePolicyFlexFields'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - 'quote (v2): quote-policies'
      summary: List Quote policies
  /v2/broker/{business_pk}/quote-policies/{id}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Policy.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_quote-policies_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotePolicyFlexFields'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote (v2): quote-policies'
      summary: Retrieve Quote policy
  /v2/broker/{business_pk}/quote-policies/{id}/documents/{document_pk}:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Policy.
      required: true
      schema:
        type: string
        format: uuid
    - name: document_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_quote-policies_get_document
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotePolicyFlexFields'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote (v2): quote-policies'
      summary: Get document
  /v2/broker/{business_pk}/quote-policies/{id}/renew:
    parameters:
    - name: business_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      description: A UUID string identifying this Policy.
      required: true
      schema:
        type: string
        format: uuid
    post:
      operationId: v2_broker_quote-policies_renew_application
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotePolicyFlexFields'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - 'quote (v2): quote-policies'
      summary: Renew application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotePolicyFlexFields'
        required: true
components:
  schemas:
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
    QuotePolicyFlexFields:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        coverage_application:
          title: Coverage application
          description: Bridge FK — links to the legacy coverage application that produced this policy; renewals still run on it.
          type:
          - string
          - 'null'
          format: uuid
        status:
          title: Status
          type: string
          readOnly: true
          minLength: 1
        type:
          title: Type
          type: string
          readOnly: true
          minLength: 1
        quote:
          title: Quote
          type: string
          readOnly: true
        herald_quote:
          title: Herald quote
          type: string
          format: uuid
          readOnly: true
        carrier:
          title: Carrier
          type: string
          readOnly: true
        limit:
          title: Limit
          type: integer
          readOnly: true
        date_issued:
          title: Date issued
          type: string
          format: date
          readOnly: true
        effective_date:
          title: Effective date
          type:
          - string
          - 'null'
          format: date
        expiration_date:
          title: Expiration date
          type:
          - string
          - 'null'
          format: date
        policy_number:
          title: Policy number
          type: string
          maxLength: 255
        product_line:
          title: Product line
          type: string
          readOnly: true
        coverage_name:
          title: Coverage name
          type: string
          readOnly: true
          minLength: 1
        premium:
          title: Premium
          type: string
          readOnly: true
        total_premium:
          title: Total premium
          type: string
          readOnly: true
        billing_type:
          title: Billing type
          type: string
          readOnly: true
        date_taxes_filed:
          title: Date taxes filed
          type:
          - string
          - 'null'
          format: date
        payment_to_carrier_status:
          title: Payment to carrier status
          description: Status of payment to carrier
          type: string
          enum:
          - todo
          - done
          - n/a
        carrier_invoice_due_date:
          title: Carrier invoice due date
          description: Due date from carrier invoice
          type:
          - string
          - 'null'
          format: date
        carrier_invoice_number:
          title: Carrier invoice number
          description: Invoice number from carrier
          type:
          - string
          - 'null'
          maxLength: 255
        remittance_date:
          title: Remittance date
          description: Date when remittance was sent to carrier
          type:
          - string
          - 'null'
          format: date
        remittance_amount:
          title: Remittance amount
          description: Amount being remitted to carrier for this policy
          type:
          - string
          - 'null'
          format: decimal
        mercury_transaction_url:
          title: Mercury transaction url
          description: Mercury transaction URL link
          type:
          - string
          - 'null'
          format: uri
          maxLength: 2048
        ach_last_four:
          title: Ach last four
          description: Last 4 digits of ACH tracking number
          type:
          - string
          - 'null'
          pattern: ^\d{4}$
          maxLength: 4
        payment_reference_description:
          title: Payment reference description
          description: Payment reference description
          type:
          - string
          - 'null'
        ramp_transaction_url:
          title: Ramp transaction url
          description: Ramp transaction URL link
          type:
          - string
          - 'null'
          format: uri
          maxLength: 2048
        remittance_notification_sent:
          title: Remittance notification sent
          description: Whether remittance notification has been sent to carrier
          type: boolean
        remittance_notification_sent_at:
          title: Remittance notification sent at
          description: When remittance notification was sent
          type:
          - string
          - 'null'
          format: date-time
        remittance_notifications:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
          uniqueItems: true
        documents:
          title: Documents
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
