openapi: 3.2.0
info:
  title: 1Fort API Documentation Email AI API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: email_ai
  x-displayName: Email AI
  description: '**Access:** requires a JWT access token.'
paths:
  /v2/broker/users:
    parameters: []
    get:
      operationId: v2_broker_users_list
      summary: List email users for broker
      description: List email users (mailboxes) for the broker's integrations
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: provider
        in: query
        description: Filter by email provider (OFFICE365 or GOOGLE)
        schema:
          type: string
          enum:
          - OFFICE365
          - GOOGLE
      - name: is_active
        in: query
        description: Filter by active status (true/false)
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailUser'
        '403':
          description: Forbidden - User is not a broker
        '500':
          description: Internal server error.
      tags:
      - email_ai
  /v2/broker/users/{id}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this Email User.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: v2_broker_users_read
      summary: Retrieve email user
      description: Retrieve email user details
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailUser'
        '403':
          description: Forbidden - User is not a broker or user doesn't belong to broker
        '404':
          description: Email user not found
        '500':
          description: Internal server error.
      tags:
      - email_ai
  /v2/broker/{business_id}/attachments:
    parameters:
    - name: business_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_attachments_list
      summary: List attachments with summary
      description: List attachments for emails linked to a business with summary statistics
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: year
        in: query
        description: Filter attachments by year
        schema:
          type: integer
      - name: document_type
        in: query
        description: Filter attachments by document type
        schema:
          type: string
          enum:
          - POLICY
          - INVOICE
          - QUOTE
          - COI
          - OTHER
      responses:
        '200':
          description: Paginated attachments with summary statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                    format: uri
                  previous:
                    type: string
                    format: uri
                  results:
                    type: array
                    items:
                      type: object
                  summary:
                    type: object
                    properties:
                      total_by_year:
                        description: Total attachments count by year
                        type: object
                      total_by_type:
                        description: Total attachments count by document type
                        type: object
                      year_type_matrix:
                        description: Matrix of counts by year and type
                        type: object
                      years_available:
                        description: List of available years sorted descending
                        type: array
                        items:
                          type: string
                      types_available:
                        description: List of available document types sorted
                        type: array
                        items:
                          type: string
        '403':
          description: Forbidden - Broker doesn't manage this business
        '404':
          description: Business not found
        '500':
          description: Internal server error.
      tags:
      - email_ai
  /v2/broker/{business_id}/emails:
    parameters:
    - name: business_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: v2_broker_emails_list
      summary: List emails linked to a business
      description: List emails linked to a business
      parameters:
      - name: search
        in: query
        description: Search emails by subject or body
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: received_after
        in: query
        description: Filter emails received after this date (ISO format)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailList'
        '403':
          description: Forbidden - Broker doesn't manage this business
        '500':
          description: Internal server error.
      tags:
      - email_ai
components:
  schemas:
    EmailUser:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        email:
          title: Email
          type: string
          format: email
          readOnly: true
          minLength: 1
        display_name:
          title: Display name
          type: string
          readOnly: true
          minLength: 1
        provider:
          title: Provider
          type: string
          enum:
          - OFFICE365
          - GOOGLE
          readOnly: true
        provider_user_id:
          title: Provider user id
          type: string
          readOnly: true
          minLength: 1
        is_active:
          title: Is active
          type: boolean
          readOnly: true
        integration_type:
          title: Integration type
          type: string
          readOnly: true
        has_active_sync:
          title: Has active sync
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
    EmailList:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        subject:
          title: Subject
          type:
          - string
          - 'null'
        received_at:
          title: Received at
          type:
          - string
          - 'null'
          format: date-time
        sender:
          title: Sender
          type: object
          readOnly: true
        classification:
          title: Classification
          description: High-level classification of the email's business relevance.
          type: string
          enum:
          - UNKNOWN
          - INSURANCE_UNKNOWN
          - COMMERCIAL_INSURANCE
          - PERSONAL_INSURANCE
          - NON_INSURANCE
        attachment_count:
          title: Attachment count
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
