openapi: 3.2.0
info:
  title: 1Fort API Documentation Broker Groups API
  description: '# 1Fort API


    REST API for the 1Fort insurance platform. This document is the authoritative

    map of the API surface; endpoints are grouped in the sidebar by **app** and

    **version**, and large apps are split into per-resource sub-groups.


    ## Authentication


    Almost every endpoint requires a **JWT access token**. Send it in the

    `Authorization` header as either `Bearer <token>` or `JWT <token>`. Tokens may

    also be presented as an HTTP-only cookie. Endpoints documented with no security

    requirement are intentionally public (for example sign-in, OTP and storefront

    endpoints).


    ## Multi-tenancy


    Resources are scoped to a tenant. Nested routes carry the owning resource id in

    the path (for example `/v2/broker/{business_pk}/applications`); a token is only

    authorised for the businesses its user may access. Object-level permissions are

    enforced per endpoint.


    ## Versioning


    `v2` endpoints live under `/apis/v2/...` and are the current surface. `v1`

    endpoints remain documented for compatibility. Endpoints marked **deprecated**

    are scheduled for removal; prefer the documented replacement.

    '
  termsOfService: https://www.1fort.com/
  license:
    name: Privately owned
  version: v1
servers:
- url: https://api.1fort.com/apis/
security:
- Bearer: []
tags:
- name: broker_groups
  x-displayName: Groups
  description: '**Access:** requires a JWT access token.'
paths:
  /broker/{broker_pk}/groups:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: broker_groups_list
      summary: List Broker User Groups
      description: '

        List all broker user groups.

        Returns groups with member count for each group.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerUserGroupList'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    post:
      operationId: broker_groups_create
      summary: Create Broker User Group
      description: '

        Create a new broker user group.

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        required: true
  /broker/{broker_pk}/groups/{group_pk}/members:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: group_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: broker_groups_members_list
      summary: List Group Memberships
      description: '

        List all memberships for a specific broker user group.

        '
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrokerUserGroupMembershipList'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    post:
      operationId: broker_groups_members_create
      summary: Add User to Group
      description: '

        Add a broker user to a group.

        Note: Each user can only have one active group membership at a time.

        '
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerUserGroupMembershipCreate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrokerUserGroupMembershipCreate'
        required: true
  /broker/{broker_pk}/groups/{group_pk}/members/{id}:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: group_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      operationId: broker_groups_members_delete
      summary: Remove User from Group
      description: '

        Remove a broker user from a group by deleting the membership.

        '
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
  /broker/{broker_pk}/groups/{id}:
    parameters:
    - name: broker_pk
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: broker_groups_read
      summary: Get Broker User Group
      description: '

        Get detailed information about a specific broker user group.

        '
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerUserGroupDetail'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
    put:
      operationId: broker_groups_update
      summary: Update Broker User Group
      description: '

        Update a broker user group.

        '
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        required: true
    patch:
      operationId: broker_groups_partial_update
      summary: Partially Update Broker User Group
      description: '

        Partially update a broker user group.

        '
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrokerUserGroupCreateUpdate'
        required: true
    delete:
      operationId: broker_groups_delete
      summary: Delete Broker User Group
      description: '

        Delete a broker user group. Only groups without members can be deleted.

        '
      responses:
        '204':
          description: ''
        '403':
          description: Authentication credentials were invalid, absent or insufficient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Object does not exist or caller has insufficient permissions to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIException'
        '500':
          description: Internal server error.
      tags:
      - broker_groups
components:
  schemas:
    APIException:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BrokerUserGroupMembershipCreate:
      required:
      - broker_user
      type: object
      properties:
        broker_user:
          title: Broker user
          description: The broker user who is a member of the group
          type: integer
        is_active:
          title: Is active
          description: Whether this membership is currently active
          type: boolean
    GenericError:
      title: Generic API Error
      required:
      - detail
      type: object
      properties:
        detail:
          description: Error details
          type: string
    BrokerUserGroupList:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          description: Name of the broker user group
          type: string
          maxLength: 255
          minLength: 1
        domain:
          title: Domain
          description: Domain name associated with this group
          type:
          - string
          - 'null'
          maxLength: 500
        agency:
          title: Agency
          description: The agency this group belongs to
          type:
          - integer
          - 'null'
          readOnly: true
        agency_name:
          title: Agency name
          type: string
          readOnly: true
          minLength: 1
        address:
          title: Address
          description: Full address of the group
          type:
          - string
          - 'null'
        npn_number:
          title: Npn number
          description: National Producer Number (NPN) for this group
          type:
          - string
          - 'null'
          maxLength: 50
        phone_number:
          title: Phone number
          description: Primary phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        office_phone_number:
          title: Office phone number
          description: Office phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        accounting_email:
          description: List of accounting email addresses for this group
          type:
          - array
          - 'null'
          items:
            title: Accounting email
            type: string
            format: email
            maxLength: 254
            minLength: 1
        logo:
          title: Logo
          description: Logo for this broker user group
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        member_count:
          title: Member count
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
    BrokerUserGroupCreateUpdate:
      required:
      - name
      type: object
      properties:
        name:
          title: Name
          description: Name of the broker user group
          type: string
          maxLength: 255
          minLength: 1
        domain:
          title: Domain
          description: Domain name associated with this group
          type:
          - string
          - 'null'
          maxLength: 500
        address:
          title: Address
          description: Full address of the group
          type:
          - string
          - 'null'
        npn_number:
          title: Npn number
          description: National Producer Number (NPN) for this group
          type:
          - string
          - 'null'
          maxLength: 50
        phone_number:
          title: Phone number
          description: Primary phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        office_phone_number:
          title: Office phone number
          description: Office phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        accounting_email:
          description: List of accounting email addresses for this group
          type:
          - array
          - 'null'
          items:
            title: Accounting email
            type: string
            format: email
            maxLength: 254
            minLength: 1
        logo:
          title: Logo
          description: Logo for this broker user group
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
    ValidationError:
      title: Validation Error
      type: object
      properties:
        non_field_errors:
          description: List of validation errors not related to any field
          type: array
          items:
            type: string
      additionalProperties:
        description: A list of error messages for each field that triggered a validation error
        type: array
        items:
          type: string
    BrokerUserGroupDetail:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          description: Name of the broker user group
          type: string
          maxLength: 255
          minLength: 1
        domain:
          title: Domain
          description: Domain name associated with this group
          type:
          - string
          - 'null'
          maxLength: 500
        agency:
          title: Agency
          description: The agency this group belongs to
          type:
          - integer
          - 'null'
          readOnly: true
        agency_name:
          title: Agency name
          type: string
          readOnly: true
          minLength: 1
        address:
          title: Address
          description: Full address of the group
          type:
          - string
          - 'null'
        npn_number:
          title: Npn number
          description: National Producer Number (NPN) for this group
          type:
          - string
          - 'null'
          maxLength: 50
        phone_number:
          title: Phone number
          description: Primary phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        office_phone_number:
          title: Office phone number
          description: Office phone number for the group
          type:
          - string
          - 'null'
          maxLength: 255
        accounting_email:
          description: List of accounting email addresses for this group
          type:
          - array
          - 'null'
          items:
            title: Accounting email
            type: string
            format: email
            maxLength: 254
            minLength: 1
        logo:
          title: Logo
          description: Logo for this broker user group
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        member_count:
          title: Member count
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
    BrokerUserGroupMembershipList:
      required:
      - broker_user
      - group
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        broker_user:
          title: Broker user
          description: The broker user who is a member of the group
          type: integer
        broker_user_email:
          title: Broker user email
          type: string
          readOnly: true
          minLength: 1
        broker_user_name:
          title: Broker user name
          type: string
          readOnly: true
        group:
          title: Group
          description: The group the broker user belongs to
          type: string
          format: uuid
        group_name:
          title: Group name
          type: string
          readOnly: true
          minLength: 1
        is_active:
          title: Is active
          description: Whether this membership is currently active
          type: boolean
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated at
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: JWT access token. Send as `Bearer <token>` or `JWT <token>`.
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key. Send as `Api-Key <key>`.
x-tagGroups:
- name: Agent runtime (v2)
  tags:
  - agent_runtime (v2)
- name: Analytics
  tags:
  - analytics
- name: Application
  tags:
  - 'application: applications'
  - 'application: clients'
- name: Application (v2)
  tags:
  - 'application (v2): applications'
  - 'application (v2): coverages'
- name: Ascend
  tags:
  - ascend
- name: Ascend (v2)
  tags:
  - ascend (v2)
- name: Authentication
  tags:
  - Authentication
  - auth
- name: Billing (v2)
  tags:
  - billing (v2)
- name: Broker
  tags:
  - broker
  - broker-ams-integration
  - broker-google
  - broker-office365
  - broker-office365-individual
  - 'broker: ai-customization-types'
  - 'broker: ai-customizations'
  - 'broker: clients'
  - 'broker: email_preferences'
  - 'broker: proposal-preferences'
  - 'broker: take-rates'
  - 'broker: user-ai-customizations'
  - 'broker: users'
  - broker_groups
  - broker_settings
- name: Broker (v2)
  tags:
  - 'broker (v2): applications'
  - 'broker (v2): clients'
  - 'broker (v2): coverages'
  - 'broker (v2): email-templates'
  - 'broker (v2): quote-policies'
  - 'broker (v2): quotes'
  - 'broker (v2): storefront'
  - 'broker (v2): team-users'
- name: Business
  tags:
  - business
  - business-broker-users
  - business-user
  - business_admin
- name: Carrier
  tags:
  - carrier
- name: Checkout
  tags:
  - checkout
- name: Email AI
  tags:
  - email_ai
- name: Email AI (v2)
  tags:
  - 'email_ai (v2): attachments'
  - 'email_ai (v2): carriers'
  - 'email_ai (v2): coverage-types'
  - 'email_ai (v2): emails'
  - 'email_ai (v2): gmail'
  - 'email_ai (v2): office365'
  - 'email_ai (v2): profiles'
  - 'email_ai (v2): wholesalers'
- name: Email AI Agent
  tags:
  - Email AI Agent
  - Email AI Agent - Attachments
  - Email AI Agent - Businesses
  - Email AI Agent - Entities
  - Email AI Agent - Markets
  - Email AI Agent - Profiles
  - Email AI Agent - Reference Data
- name: Google workspace (v2)
  tags:
  - google_workspace (v2)
- name: Herald (v2)
  tags:
  - herald (v2)
- name: Indications (v2)
  tags:
  - indications (v2)
- name: Insurance (v2)
  tags:
  - insurance (v2)
- name: Invite
  tags:
  - invite
- name: Legal
  tags:
  - legal
- name: Market
  tags:
  - Markets
  - Markets - Business
- name: Market (v2)
  tags:
  - market (v2)
- name: Office365 (v2)
  tags:
  - office365 (v2)
- name: Premium finance (v2)
  tags:
  - premium_finance (v2)
- name: Quote
  tags:
  - 'quote: applications'
  - 'quote: clients'
  - 'quote: quotes'
- name: Quote (v2)
  tags:
  - 'quote (v2): application'
  - 'quote (v2): binders'
  - 'quote (v2): checkout'
  - 'quote (v2): cios'
  - 'quote (v2): coverages'
  - 'quote (v2): quote-policies'
  - 'quote (v2): quotes'
  - 'quote (v2): tasks'
  - quote_ai (v2)
- name: Reports
  tags:
  - reports
- name: Reward
  tags:
  - reward
- name: Risk manager
  tags:
  - risk_manager
- name: Sanity check AI
  tags:
  - sanity_check_ai
- name: Storefront (v2)
  tags:
  - storefront (v2)
- name: Stripe
  tags:
  - stripe
- name: Suggestion AI
  tags:
  - suggestion_ai
- name: Treasury (v2)
  tags:
  - treasury (v2)
- name: User
  tags:
  - user
  - 'user: default-access-role'
